services:
  beverage_predictor:
    build:
      context: . 
      dockerfile: Dockerfile
    
    image: local-beverage-predictor:latest
    
    ports:
      - '8081:8000'
    
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    
    restart: always

version: '3.8'